body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.car-search-container {
  text-align: left;
  margin-left: 35px;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px; /* Padding inside the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
  text-align: left; /* Text alignment */
  max-width: 272px; /* Set a maximum width for the box */
}

.sellerclass {
  text-align: left;
  margin-left: 45px;
}

.aboutusclass {
  text-align: left;
  margin-left: 45px;
}

.navbarclass {
  text-align: center;
}

.navbarclass {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.navbarclass ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbarclass p {
  margin: 0 10px;
}

.navbarclass a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.navbarclass a:hover {
  color: #ffa500;
}

.search-container {
  text-align: left;
  margin-left: 5px;
}

.search {
  text-align: left;
  margin-left: 45px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.card_title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px; /* Padding inside the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
  text-align: left; /* Text alignment */
  max-width: 250px; /* Set a maximum width for the box */
}

/* Styling for card details */
.card_detail {
  font-size: 18px; /* Font size for details */
  color: #666; /* Text color for details */
  margin-top: 10px; /* Space between title and details */
}

.card_detail p {
  border-right: 1px solid #ccc; /* Add a thin gray border on the right side of each <p> element */
  padding-right: 10px; /* Padding to separate the text from the border */
  display: inline-block; /* Make <p> elements display inline to stack them horizontally */
  margin-right: 10px; /* Space between each <p> element */
  margin-bottom: 60px;
}

.card_detail p:last-child {
  border-right: none; /* Remove the border on the last <p> element */
  margin-right: 0; /* Remove the margin on the last <p> element */
}

.postformclass {
  float: right; /* Float the container to the right */
  padding: 20px; /* Add padding to create space around the form */
  font-size: 16px;
  color: #333;
  margin-right: 250px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 150px;
  height: 500px;
}

#title {
  margin-bottom: 20px;
}

#body {
  clear: both;
  max-width: 100%;
  margin-top: 10px;
}

#brandinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

#modelinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

#colorinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

#priceinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

#imageinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

#yearinput {
  margin-bottom: 20px;
  clear: both;
  max-width: 100%;
}

.maintitleclass {
  text-align: center;
  background-color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  list-style-type: none;
  padding: 0;
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin-left: auto; /* Move the element to the right */
}

.aboutusclass {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  display: flex;
  color: #050404;
  font-size: 14px;
}

.mainpage {
  background-image: url("https://t4.ftcdn.net/jpg/04/99/16/73/240_F_499167318_cIq60CEh7fDnveEehtt2O0eg0tIHIaNr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
